.footer {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  justify-content: space-evenly;
  width: 50%;
}

.social a {
  border-radius: 35%;
  background-color: var(--orange-500);
}

.social a svg {
  display: block;
  padding: 0.25rem;
}

.footer p {
  padding: 1.25rem;
  width: 100%;
  text-align: center;
  color: var(--gray-700);
  text-decoration: underline;
  border-top: 1px solid var(--gray-300);
}
